html {
background-image: url("Night Sky.gif");
}
button {
border: none; 
background: none;
}
b {
font-weight: 950;
}
#exoplanet {
display: block;
margin: auto;
}
#backbutton {
display: inline-block;
float: left;
clear: left;
width: 100px;
height: 100px;
background: none;
border: none;
}
ul {
color: white;
font-family: monospace;
font-size: 20px;
}
p {
color: white;
font-family: monospace;
font-size: 20px;
text-align: center;
line-height: 1.8em;
}
h4 {
font-color: white;
font-family: monospace;
display: inline-block;
vertical-align: middle; 
}
h1 {
color: white;
font-family: monospace;
text-align: center;
margin-left: 15%;
margin-right: 15%;
}
h2 {
color: white;
font-family: monospace;
text-align: center;
font-size: 24px;
}
select {
border: 2px
background
font-color: white;
font-family: monospace;
}
a {
color: white;
text-decoration: none;
}
#exoplanetminiimage {
margin-left: 15px;
margin-right: 15px;
margin-bottom: 525px;
}
