button {
background-color: white;
font-size: 20px;
font-family: monospace;
border-width: 5px;
border-color: gray;
display: block;
margin: auto;
}
a {
color: black;
text-decoration: none;
display: block;
margin: auto;
}
#logo {
background: none;
border: none;
display: block;
margin: auto;
}
#error {
width: 80%;
height: 80%;
}
h3 {
font-size: 24px;
p {
color: white;
font-family: monospace;
font-size: 20px;
text-align: center;
line-height: 1.8em;
margin-right: auto;
margin-left: auto;
}
li {
color: white;
font-family: monospace;
}
h1 {
color: white;
font-family: monospace;
text-align: center;
margin-right: auto;
margin-left: auto;
}
h2 {
color: white;
font-family: monospace;
}
html {
background-image: url("Night Sky.gif");
}
