#button {
background-color: white;
font-size: 20px;
font-family: monospace;
border-width: 5px;
border-color: gray;
font-color: black;
}
#logo {
background: none;
border: none;
}
#version {
color: white;
font-family: monospace;
}
#error {
  width: 30%;
  height: 30%;
}
p {
color: white;
font-fmily: monospace;
font-size: 20px;
}
li {
color: white;
font-family: monospace;
}
h1 {
color: white;
font-family: monospace;
}
h2 {
color: white;
font-family: monospace;
}
html {
background-image: url("Night Sky.gif");
}
a {
color: white;
text-decoration: none;
}
