h1 {
color: white;
font-family: monospace;
text-align: center;
margin-left: 15%;
margin-right: 15%;
}
h2 {
color: white;
font-family: monospace;
text-align: center;
margin-left: 15%;
margin-right: 15%;
}
h2 {
color: white;
font-family: monospace;
text-align: center;
margin-left: 15%;
margin-right: 15%;
}
h3 {
color: white;
font-family: monospace;
text-align: center;
margin-left: 15%;
margin-right: 15%;
}
#exoplanetminiimage {
background: none;
border: none;
padding: 15px;
margin-left: auto;
margin-right: auto;
display: inline-block;
vertical-align: middle;
display: inline-block;
vertical-align: middle; 
}
p {
font-color: white;
font-family: monospace;
text-align: center;
margin-left: 15%;
margin-right: 15%;
}
html {
background-image: url("Night Sky.gif");
}
a {
color: white;
text-decoration: none;
}
