html {
background-image: url("Night Sky.gif");
}
button {
border: none; 
background: none;
}
#backbutton {
  display: inline-block;
  float: left;
  clear: left;
  width: 100px;
  height: 100px;
}
#exoplanetminiimage {
 margin-left: 10px;
 margin-right: 10px;
 margin-top: 300px;
}
#exoplanet {
display: block;
margin: auto;
}
ul {
color: white;
font-family: monospace;
font-size: 20px;
}
p {
color: white;
font-family: monospace;
font-size: 20px;
}
h4 {
font-color: white;
font-family: monospace;
display: inline-block;
vertical-align: middle; 
}
h1 {
color: white;
font-family: monospace;
text-align: center; 
}
h2 {
color: white;
font-family: monospace;
text-align: center;
}
select {
border: 2px;
font-color: white;
font-family: monospace;
}
a {
color: white;
font-family: monospace;
font-size: 20px;
text-decoration: none;
}
#systemtitle {
color: white;
font-family: monospace;
text-align: center;
}
