html {
background-image: url("Night Sky.gif");
}
button {
border: none; 
background: none;
}
#backbutton {
display: inline-block;
float: left;
clear: left;
width: 100px;
height: 100px;
background: none;
border: none;
}
h1 {
color: white;
font-family: monospace;
text-align: center;
margin-left: 15%;
margin-right: 15%;
}
#exoplanetminiimage {
padding: 15px;
margin-left: auto;
margin-right: auto;
display: inline-block;
vertical-align: middle;
}
#exoplanet {
display: block;
margin-left: 31.7%;
margin-right: 31.7%;
}
ul {
color: white;
font-family: monospace;
font-size: 20px;
}
p {
color: white;
font-family: monospace;
font-size: 20px;
}
h1 {
color: white;
font-family: monospace;
text-align: center;
margin-left: 15%;
margin-right: 15%;
}
h2 {
color: white;
font-family: monospace;
text-align: center;
}
a {
color: white;
font-family: monospace;
font-size: 20px;
text-decoration: none;
}
