html {
background-image: url("Night Sky2.gif");
}
p { 
color: white;
font-family: monospace;
font-color: white;
}
h1 {
font-family: monospace;
color: white;
}
h2 {
font-family: monospace;
color: white;
}
h5 {
font-family: monospace;
color: white;
}

