html {
background-image: url("Night Sky2.gif");
font-family: monospace;
font-color: white;
}
p { 
color: white;
font-family: monospace;
font-color: white;
}
h {
font-color: white;
}
h2 {
font-color: white;
}
h3 {
font-color: white;
}

h4 {
font-color: white;
}
h5 {
font-color: white;
}
h6 {
font-color: white;
}
